<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yasinyuan.testspring.dao.MemberMapper">
    <resultMap id="BaseResultMap" type="com.yasinyuan.testspring.model.Member">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="level_id" property="levelId" jdbcType="BIGINT" />
        <result column="growth_value" property="growthValue" jdbcType="INTEGER" />
        <result column="points" property="points" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="birthday" property="birthday" jdbcType="DATE" />
        <result column="register_time" property="registerTime" jdbcType="TIMESTAMP" />
        <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, level_id, growth_value, points, status, birthday, register_time, last_login_time, create_time, update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from member
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from member
        where user_id = #{userId,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from member
    </select>

    <select id="selectByLevelId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from member
        where level_id = #{levelId,jdbcType=BIGINT}
    </select>

    <select id="selectByStatus" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from member
        where status = #{status,jdbcType=TINYINT}
    </select>

    <select id="selectByBirthday" parameterType="java.util.Date" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from member
        where birthday = #{birthday,jdbcType=DATE}
    </select>

    <insert id="insert" parameterType="com.yasinyuan.testspring.model.Member">
        insert into member (user_id, level_id, growth_value, points, status, birthday, register_time, last_login_time)
        values (#{userId,jdbcType=BIGINT}, #{levelId,jdbcType=BIGINT}, #{growthValue,jdbcType=INTEGER}, #{points,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, #{birthday,jdbcType=DATE}, #{registerTime,jdbcType=TIMESTAMP}, #{lastLoginTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.yasinyuan.testspring.model.Member">
        insert into member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="levelId != null">level_id,</if>
            <if test="growthValue != null">growth_value,</if>
            <if test="points != null">points,</if>
            <if test="status != null">status,</if>
            <if test="birthday != null">birthday,</if>
            <if test="registerTime != null">register_time,</if>
            <if test="lastLoginTime != null">last_login_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId,jdbcType=BIGINT},</if>
            <if test="levelId != null">#{levelId,jdbcType=BIGINT},</if>
            <if test="growthValue != null">#{growthValue,jdbcType=INTEGER},</if>
            <if test="points != null">#{points,jdbcType=INTEGER},</if>
            <if test="status != null">#{status,jdbcType=TINYINT},</if>
            <if test="birthday != null">#{birthday,jdbcType=DATE},</if>
            <if test="registerTime != null">#{registerTime,jdbcType=TIMESTAMP},</if>
            <if test="lastLoginTime != null">#{lastLoginTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yasinyuan.testspring.model.Member">
        update member
        <set>
            <if test="userId != null">user_id = #{userId,jdbcType=BIGINT},</if>
            <if test="levelId != null">level_id = #{levelId,jdbcType=BIGINT},</if>
            <if test="growthValue != null">growth_value = #{growthValue,jdbcType=INTEGER},</if>
            <if test="points != null">points = #{points,jdbcType=INTEGER},</if>
            <if test="status != null">status = #{status,jdbcType=TINYINT},</if>
            <if test="birthday != null">birthday = #{birthday,jdbcType=DATE},</if>
            <if test="registerTime != null">register_time = #{registerTime,jdbcType=TIMESTAMP},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},</if>
            update_time = CURRENT_TIMESTAMP,
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yasinyuan.testspring.model.Member">
        update member
        set user_id = #{userId,jdbcType=BIGINT},
            level_id = #{levelId,jdbcType=BIGINT},
            growth_value = #{growthValue,jdbcType=INTEGER},
            points = #{points,jdbcType=INTEGER},
            status = #{status,jdbcType=TINYINT},
            birthday = #{birthday,jdbcType=DATE},
            register_time = #{registerTime,jdbcType=TIMESTAMP},
            last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
            update_time = CURRENT_TIMESTAMP
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from member
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByUserId" parameterType="java.lang.Long">
        delete from member
        where user_id = #{userId,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByLevelId" parameterType="java.lang.Long">
        delete from member
        where level_id = #{levelId,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByStatus" parameterType="java.lang.Integer">
        delete from member
        where status = #{status,jdbcType=TINYINT}
    </delete>

    <select id="countByUserId" parameterType="java.lang.Long" resultType="java.lang.Integer">
        select count(*) from member where user_id = #{userId,jdbcType=BIGINT}
    </select>

    <select id="countByLevelId" parameterType="java.lang.Long" resultType="java.lang.Integer">
        select count(*) from member where level_id = #{levelId,jdbcType=BIGINT}
    </select>

    <select id="countByStatus" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*) from member where status = #{status,jdbcType=TINYINT}
    </select>
</mapper>